@use "../mixins/hover.scss" as *;
@use "../mixins/pseudo.scss" as *;
@use "../mixins/responsive.scss" as *;


.affinity{
    &__container{
        margin-bottom: 1rem;

        @include responsive (desktop){
          margin-bottom: 2.5rem;
        }
    }
    &__table{
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 95px);
    align-items: center;
    text-align: center;

    @include responsive (tablet){
      grid-template-columns: repeat(3,180px);
      text-align: center;
    }

    @include responsive (desktop){
      grid-template-columns: repeat(3,310px);
      text-align: center;
    }
    }

    &__element{
        background-color: var(--color-description);
        padding: 13px 0;
        border-radius: 8px;

        @include responsive (tablet){
          padding: 26px 0;
          border-radius: 12px;
        }
    
        @include responsive (desktop){
          padding: 39px 0;
          border-radius: 16px;
        }
    }

    &__title{
        margin-bottom: 0.6rem;
    }
}