@use "../mixins/hover.scss" as *;
@use "../mixins/pseudo.scss" as *;
@use "../mixins/responsive.scss" as *;

.flags{
    width: 10%;
    gap: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    left: 15%;
    padding-top: 7px;

    @include responsive (tablet){
        width: 38%;
        gap: 0;
        padding-top: 20px;
    }

    @include responsive (desktop){
        width: 32%;
        padding-top: 40px;
        gap: 0.6rem;
    }

    &__item{
        width: 15px;

        @include responsive (tablet){
            width: 25px;
        }

        @include responsive (desktop){
            width: 35px;
        }
    }

    &__img{
        display: block;
        cursor: pointer;
    }
}

.flags--uxui{
    width: 29%;
}