@use "../mixins/hover.scss" as *;
@use "../mixins/pseudo.scss" as *;
@use "../mixins/responsive.scss" as *;

.text {
  font-family: var(--font-family-montserrat);
  font-size: 0.5625rem;
  font-weight: var(--regular-montserrat);
  color: var(--color-text);

  @include responsive (tablet){
    font-size: 0.75rem;
  }

  @include responsive (desktop){
    font-size: 1rem;
  }

  &--medium {
    font-weight: var(--medium-montserrat);
  }
}
