:root {
  --font-family-montserrat: "Montserrat", sans-serif;
  --font-family-catilde: catilde, sans-serif;
  --regular-montserrat: 400;
  --medium-montserrat: 500;
  --semibold-montserrat: 600;
  --bold-montserrat: 700;
  --color-primary: #fc441e;
  --color-text: #494949;
  --white: white;
  --background-color: #f5f4f2;
  // --color-hover: #9B0000;
  --color-hover:#ef8711;
  --color-description: #c8c8c8; 
  --color-table: #D9D9D9;
}

/* Variables SASS */
